<!-- <div class="container" *ngIf="currentUser; else loggedOut">
  <header class="jumbotron">
    <h3>
      <strong>{{ currentUser.username }}</strong> Profile
    </h3>
  </header>
  <p>
    <strong>Token:</strong>
    {{ currentUser.accessToken.substring(0, 20) }} ...
    {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
  </p>
  <p>
    <strong>Email:</strong>
    {{ currentUser.email }}
  </p>
  <strong>Roles:</strong>
  <ul>
    <li *ngFor="let role of currentUser.roles">
      {{ role }}
    </li>
  </ul>
</div>

<ng-template #loggedOut>
  Please login.
</ng-template> -->


<div class="container pb-3">
  <div class="table-wrapper">
  <div class="table-title">
      <div class="row">
      <div class="col-sm-6">
          <h2 class="text-white">Update <b>Profile</b></h2>
      </div>
      <div class="col-sm-6">
          <a routerLink="/home" *ngIf="currentUser.roles[0] == 'ROLE_USER'" class="btn btn-success" ><i class="fa fa-arrow-left"></i> <span>Back To Home</span></a>
          <a routerLink="/dashboard"*ngIf="currentUser.roles[0] == 'ROLE_ADMIN'"class="btn btn-success" ><i class="fa fa-arrow-left"></i> <span>Back To Home</span></a>
          </div>
      </div>
  </div>
  </div>
  <div class="row">
      <div class="form-group col-sm-4">
          <label>First Name</label>
          <input type="text" name="fname" class="form-control" [(ngModel)]="profile.fname">
      </div>
      <div class="form-group col-sm-4">
        <label>Last Name</label>
        <input type="text" name="lname" class="form-control" [(ngModel)]="profile.lname">
    </div>
      <div class="form-group col-sm-4">
          <label>Email</label>
          <input type="text" name="email" class="form-control" [(ngModel)]="profile.email">
      </div>
    <div class="form-group col-sm-4">
        <label>Username</label>
        <input type="text" name="username" class="form-control" [(ngModel)]="profile.username">
    </div>
    <div class="form-group col-sm-4">
        <label>Company Name</label>
        <input type="text" name="companyname" class="form-control" [(ngModel)]="profile.companyname">
    </div>
    <div class="form-group col-sm-4" *ngIf="currentUser.roles[0] == 'ROLE_USER'">
      <label>Title</label>
      <input type="text" name="title" class="form-control" [(ngModel)]="profile.title">
  </div>
     
      <div class="form-group col-sm-4" *ngIf="currentUser.roles[0] == 'ROLE_USER'">
        <label>Skills</label>
        <ng-multiselect-dropdown #multiSelect
        [settings]="settings"
        [data]="data" 
        [placeholder]="'Select Skills'" 
        [(ngModel)]="selectedItems"
        [disabled]="false"
        (onSelect)="onItemSelect($event)" 
        (onDeSelect)="onDeSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelectAll)="onDeSelectAll($event)">
          </ng-multiselect-dropdown>
    </div>
      <div class="form-group col-sm-4" *ngIf="currentUser.roles[0] == 'ROLE_USER'">
          <label>Experience </label>
          <div class="d-flex">
              <input type="number" name="year" placeholder="Year" class="form-control mr-3" [(ngModel)]="profile.year">
              <input type="number" name="month" placeholder="Month" class="form-control" [(ngModel)]="profile.month">
          </div>
      </div>
  </div>
  <button type="button" class="btn btn-success" (click)="updateProfile()" [disabled]="btnDisabled">Update Profile</button>
        
</div>
